(
    /* the main key used to detect WM events */
    meta: 128,
    border: (
        width: 1,
        focus_color: 9465087,
        normal_color: 0,
    ),
    /* borders defining space the WM wont tile windows to (usefull when using task bars) */
    display_borders: [
        (
            left: 0,
            right: 0,
            bottom: 0,
            top: 16,
            gap: 10,
        ),
        (
            left: 0,
            right: 0,
            bottom: 0,
            top: 0,
            gap: 0,
        ),
    ],
    /* key names of the workspaces (must be a name in xmodmap -pke), per displays */
    workspaces_names: [
        [
            "a",
            "u",
            "i",
        ],
        [
            "b",
            "eacute",
            "o",
            "p",
        ],
    ],
    /* mapping between key names (must be a name in xmodmap -pke) and window manager specific actions */
    wm_actions: {
        (
            mod_mask: 128,
            key: "w",
        ): CloseWindow,
        (
            mod_mask: 128,
            key: "space",
        ): SwitchWindow,
        (
            mod_mask: 128,
            key: "g",
        ): ToggleGap,
        (
            mod_mask: 128,
            key: "d",
        ): SerializeAndQuit,
        (
            mod_mask: 128,
            key: "h",
        ): SwapPreviousWindow,
        (
            mod_mask: 128,
            key: "l",
        ): SwapNextWindow,
        (
            mod_mask: 128,
            key: "q",
        ): Quit,
        (
            mod_mask: 128,
            key: "f",
        ): ChangeLayout,
        (
            mod_mask: 128,
            key: "j",
        ): IncreaseQuota,
        (
            mod_mask: 128,
            key: "k",
        ): DecreaseQuota,
    },
    /* will ignore windows with this WM_CLASS */
    ignore_classes: [
        "find-cursor",
        "keynav",
        "xscreensaver",
        "compton",
        "xsecurelock",
        "slock",
    ],
    /* won't tile windows with this WM_CLASS */
    float_classes: [
        "confirm",
        "dialog",
        "error",
        "splash",
        "toolbar",
        "screenkey",
        "audacious",
        "Download",
        "dropbox",
        "file_progress",
        "file-roller",
        "Komodo_confirm_repl",
        "Komodo_find2",
        "pidgin",
        "skype",
        "Transmission",
        "Update",
        "Xephyr",
        "obs",
        "rofi",
        "xscreensaver",
        "quickmarks",
        "discover-overlay",
    ],
    /* like float_classes, but will also keep windows on top */
    overlay_classes: [
        "discover-overlay",
    ],
    sticky_classes: {
        "discord": "i",
        "slack": "eacute",
        "zoom": "o",
        "zoom ": "o",
        "signal": "o",
        "qutebrowser": "u",
        "firefox": "p",
    },
    /* should we enable gaps by default */
    with_gap: false,
    custom_commands: {
        (
            mod_mask: 128,
            key: "c",
        ): ["find-cursor"],
        (
            mod_mask: 128,
            key: "r",
        ): ["rofi", "-show", "run"],
        (
            mod_mask: 128,
            key: "Return",
        ): ["bash", "t"],
        (
            mod_mask: 128,
            key: "v",
        ): ["bash", "contrastterm"],
        (
            mod_mask: 128,
            key: "s",
        ): ["bash", "alsaterm"],
        (
            mod_mask: 128,
            key: "l",
        ): ["slock"],
        (
            mod_mask: 128,
            key: "n",
        ): ["xcalib", "-i", "-a"],
        (
            mod_mask: 128,
            key: "t",
        ): ["notify-send", "test"],
        (
            mod_mask: 128,
            key: "x",
        ): ["bash", "t"],
        (
            mod_mask: 128,
            key: "x",
        ): ["t",
         "--class",
         "quickmarks",
         "--config-file",
         "/home/yazgoo/.config/alacritty/alacritty_white.yml",
         "-e",
         "quickmarks"],
        (
            mod_mask: 128,
            key: "m",
        ): ["autorandr", "--change"],
    },
    command_callbacks: {},
)

